*.log
.svn/
*.o
.deps
.depend
motion
config.h
config.status
autom4te.cache
Makefile
motion-dist.conf
motion.init-Debian
motion.init-Fedora
motion.init-FreeBSD.sh
motion.spec
thread1.conf
thread2.conf
thread3.conf
thread4.conf
.*.sw*
aclocal.m4
compile
depcomp
install-sh
missing
stamp-h1
